.bg{
    background-image: url("bg.png");
    background-position:10px 190px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}   

#bg-c {
    width: 400px;
    height: 500px;
}